:root {
  --black: #000010;
  --white: #fff1f8;
  --red: #ff0040;
  font-size: 1em;
}
body {
  background: var(--black);
  color: var(--white);
  font-size: 1em;
  font-family: Courier, monospace;
}

.item-list-dialog {
  position: absolute;
  top: 4em;
  left: 4em;
  padding: 1em;
  border: 1px solid var(--white);
  background: var(--black);
}

.item-list-dialog .selected {
  color: var(--black);
  background: var(--white);
}

.help-screen {
  position: absolute;
  top: 4em;
  left: 4em;
  padding: 1em;
  border: 1px solid var(--white);
  background: var(--black);
}

.confirmation {
  position: absolute;
  top: 4em;
  left: 4em;
  padding: 1em;
  border: 1px solid var(--red);
  background: var(--black);
}

.confirmation div {
  text-align: center;
}

.confirmation button {
  cursor: pointer;
  color: var(--white);
  font-family: Courier, monospace;
  font-size: 1em;
  background: var(--black);
  border: 1px solid var(--white);
  width: 8em;
  margin: 1em 1em 0 0;
}

.story-screen {
  position: absolute;
  max-width: 40em;
  top: 4em;
  left: 4em;
  padding: 1em;
  border: 0.5em solid var(--white);
  background: var(--black);
}
